.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 1em 2em;
  background: #fff;
  //border-bottom: 1px solid #ddd;
   font-family: 'Minecraftia-Regular', sans-serif;

  &__logo {
    flex: 0 0 auto;
    display: flex;
    h2{
        margin:0em 1em;
        color:#FF0036;
        align-self: center;
        
    }
    svg {
      height: 2em;
      width: auto;
      align-self: center;

    }
  }

 &__nav {
    display: flex;
    align-items: center;
    gap: 0.6em;
    cursor: pointer;

    .menu-text {
      font-size: 20px;
      font-weight: 600;
      color: #FF0036;
    }

    .menu-icon {
      transition: transform 0.3s ease;
    }

    .line {
      transition: all 0.3s ease;
    }

    .open .line1 {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .open .line2 {
      opacity: 0;
    }

    .open .line3 {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }



}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.6; }
  100% { transform: scale(1); opacity: 1; }
}



/* ================== адаптация ================== */

/* планшеты */
@media (max-width: 1024px) {
  .header {
    padding: 1.5em;

    &__nav {

    }
  }
}

/* мобильные */
@media (max-width: 768px) {
  .header {
    //flex-direction: column;
    align-items: flex-start;

    &__logo {
      //margin-bottom: 1em;
    }

    &__nav {

    }
  }
}
