.preloader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   overflow: hidden;
    z-index: 9999;

}
// .preloader-wrapper {
//   position: absolute;
//   inset: 0;
//   background: #000;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   transition: opacity 0.8s ease-out, transform 0.8s ease-out;
//   z-index: 9999;
// }

.preloader-exit {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
}


.logo-container {
  transition: transform 0.8s ease-out;
}
.logo-container.slide-left {
  transform: translateY(-130px); // ← контролируется переменной slideOffset
}





.preloader-svg {
    //   width: 200px;
    //   height: 200px;
    transform: scale(1.7);
    
}


.fly-in {
  opacity: 0;
  transform: translate(var(--tx, 0), var(--ty, 0));
  animation: flyIn 0.8s ease-out forwards;
}

.color-transition {
  animation: colorWave 0.5s ease-in forwards;
}

@keyframes flyIn {
  to {
    //fill: #FF0036;
    opacity: 1;
    transform: translate(0, 0);
  }
}
//-------------------------------------Mraidtext-------------------------------
.raid-text {
  font-size: 48px;
  font-weight: bold;
  color: #FF0036;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

   font-family: 'Minecraftia-Regular', sans-serif;


}

.raid-text.show-raid {
  opacity: 1;
  transform: translateY(120);
}

// .raid-text span {
//   display: inline-block;
//   animation: wave 1.2s infinite ease-in-out;
// }

// .raid-text span:nth-child(1) { animation-delay: 0s; }
// .raid-text span:nth-child(2) { animation-delay: 0.1s; }
// .raid-text span:nth-child(3) { animation-delay: 0.2s; }
// .raid-text span:nth-child(4) { animation-delay: 0.3s; }

// @keyframes wave {
//   0%, 100% { transform: translateY(0); }
//   50% { transform: translateY(-10px); }
// }

.scan-line {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.3) 100%,
    transparent 100%
  );
  animation: scanMove 1.5s linear infinite;
  z-index: 2;
  pointer-events: none;
}

@keyframes scanMove {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}






