@font-face {
  font-family: 'Minecraftia-Regular';
  /* src: url('/fonts/Minecraftia-Regular.ttf') format('truetype'); */
  src: url('/Mraid/fonts/Minecraftia-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'SmoochSans-Medium';
  /* src: url('/fonts/SmoochSans-Medium.ttf') format('truetype'); */
  src: url('/Mraid/fonts/SmoochSans-Medium.ttf') format('truetype');
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}
